# ─── Entorno ────────────────────────────────
.env
.env.local
.env.*.local

# ─── Node ───────────────────────────────────
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ─── NestJS / TypeScript ────────────────────
api/dist/
api/build/

# ─── Prisma ─────────────────────────────────
api/prisma/migrations/

# ─── OS ─────────────────────────────────────
.DS_Store
Thumbs.db

# ─── IDE ────────────────────────────────────
.vscode/
.idea/
*.swp
*.swo

Documentacion backend.md
Documentacion_backend.md